body{
    text-align: center;
}
.choice-button{
    height: 100px;
    width: 100px;
    border: none;
    margin: 8px;
    border-radius: 50px;
    background-color: bisque;
}
.choice-img{
    height: 80px;
    width: 80px;
   
}